# Tuples

In [1]:
# Store multiple items in single variable                                                                                    
# Store collection of data                                                                                                     
# Ordered & Unchangeable(immutable)                                                                                   
# Written in round brackets ()
# Allow duplicate
# Contain different data type

In [2]:
# create tuple
tuple=('nikita',1,3.4) # we can create any data type in tuple or combine all data type also
tuple

('nikita', 1, 3.4)

In [3]:
tuple.replace("nikita","ankita") #it is boz unchaneable (It give error like "tuple object has no attributes")

AttributeError: 'tuple' object has no attribute 'replace'

In [4]:
tuple2=(1,2,3,4,5)
tuple2

(1, 2, 3, 4, 5)

In [5]:
#create type of  tuple created now
type(tuple2)

tuple

## Indexing

Each element can be obtained by the name of data type followed by square braket [ ] with the index number.To extracting single element any data type we use Indexing.We can used positive index as well as negative indexing.Positive indexing starts with 0 from 1st element to last nth element of any data type.Negative indexing starts with -1 from last element of any data type to 1st element -nth element.

In [6]:
#print the variable on each index by positive indexing
print(tuple[0])
print(tuple[1])
print(tuple[2])
print(tuple[3])#It is bcoz our length is 3 but our indexing always start from 0 .
#so in this example our index is from 0 to 2 and at 3rd index their is no element thats why error gives (tuple index out of range)

nikita
1
3.4

IndexError: tuple index out of range

In [7]:
#print the type of value on each index
print(type(tuple[0]))
print(type(tuple[1]))
print(type(tuple[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
#print the variable on each index by negative indexing
print(tuple[-1])
print(tuple[-2])
print(tuple[-3])

3.4
1
nikita

## Concatenate(Combine)

we can concatenate the any data type by using  + sign.

In [9]:
tuple

('nikita', 1, 3.4)

In [10]:
tuple2

(1, 2, 3, 4, 5)

In [11]:
combine_tuple=tuple+tuple2
combine_tuple # for long variable dont need to write whole thing just write 1st letter of variable and press Tab from keyboard select the variable name.

('nikita', 1, 3.4, 1, 2, 3, 4, 5)

In [12]:
#We can concatenate like this
ct=tuple+(1,2,3)
ct

('nikita', 1, 3.4, 1, 2, 3)

## Count

In [13]:
# To find occrance of the elements use count function
ct.count(1)

2

## Silicing

To extracting more than single element of any data type we use Silicing. It always give us  from which element(suppose 0) to what we want (suppose3)then we write variable name[0:4] i.e.(n-1)th element in output.

In [14]:
# Silicing from index 0 to index 3 (range 0 to 4) i.e from to n+1
tuple

('nikita', 1, 3.4)

In [15]:
tuple[0:4]# It always give us (n-1)th element

('nikita', 1, 3.4)

In [16]:
#Silicing from index 1 to index 2
tuple2

(1, 2, 3, 4, 5)

In [17]:
tuple2[1:3]

(2, 3)

In [18]:
tuple[3:4]#It gives in output empty bcoz in our data type nothing is present at that index.
#Its a advantage of silicing it don't show error after not present the range of index it will print that it have

()

In [19]:
combine_tuple

('nikita', 1, 3.4, 1, 2, 3, 4, 5)

In [20]:
combine_tuple[2:7]

(3.4, 1, 2, 3, 4)

## Length

We can obtain the length of any data type by using length command.i.e len(variable name)

In [21]:
tuple2

(1, 2, 3, 4, 5)

In [22]:
len(tuple2)

5

In [23]:
len(combine_tuple)

8

## Sorting

Arrange the element in increasing or decrasing order.

In [24]:
rating=(1,2,3,4,5,6,4,6)
rating

(1, 2, 3, 4, 5, 6, 4, 6)

In [27]:
rating_sorted=sorted(rating,reverse=False)
rating_sorted

[1, 2, 3, 4, 4, 5, 6, 6]

In [28]:
rating2=(1,2.5,3.5,'nikita')
rating2

(1, 2.5, 3.5, 'nikita')

In [29]:
rating2_sorted=sorted(rating2)
rating2_sorted # It is bcoz it can't compare between string and integer of float.String have not the value in number to compare.

TypeError: '<' not supported between instances of 'str' and 'float'

## Stride/Step

Their are 3 range value,1st is from where to 2nd value to up to which index number(n-1) and 3rd is the difference.

In [30]:
print(rating)
rating[2:10:2]

(1, 2, 3, 4, 5, 6, 4, 6)

(3, 5, 4)

In [31]:
print(rating2)
rating2[0:4:2]

(1, 2.5, 3.5, 'nikita')

(1, 3.5)

## Nested

Any data type contain another data type as well as other complex data type,the process is called Nested.

In [32]:
# Create tuple
NT=(1,2,('nikita','ankita'),(1.2,3),("shubham",(4,5)),("abc"))
NT

(1, 2, ('nikita', 'ankita'), (1.2, 3), ('shubham', (4, 5)), 'abc')

In [33]:
#Print element on each index
print(NT[0])
print(NT[1])
print(NT[2])
print(NT[3])
print(NT[4])
print(NT[5])

1
2
('nikita', 'ankita')
(1.2, 3)
('shubham', (4, 5))
abc

In [34]:
# Print the second element of complex tuple each index
print(NT[2][0])
print(NT[2][1])
print(NT[4][0])
print(NT[4][1])
print(NT[4][1][0])

nikita
ankita
shubham
(4, 5)
4