# String

Collection of alphabets or any thing in single qoates'' or double qoutes""

In [1]:
# Creating string 
"Nikita Khirid"# string can be write in single qoutes'' or double qoutes""

'Nikita Khirid'

In [2]:
#Digit and space is string
" A B C D E"

' A B C D E'

In [3]:
# Special characters is also string
"@ & ab"

'@ & ab'

In [4]:
#Print the string
print("Nikita")

Nikita

In [5]:
#To find the data type
type("Nikita")

str

In [6]:
#Assign string in variable
Name="Nikita Khirid"
Name

'Nikita Khirid'

## Indexing

Each element can be obtained by the name of data type followed by square braket [ ] with the index number.To extracting single element any data type we use Indexing.We can used positive index as well as negative indexing.Positive indexing starts with 0 from 1st element to last nth element of any data type.Negative indexing starts with -1 from last element of any data type to 1st element -nth element.In string space have also consider the index number.

In [7]:
Name

'Nikita Khirid'

In [8]:
print(Name[0])
print(Name[1])
print(Name[2])
print(Name[3])
print(Name[4])
print(Name[5])
print(Name[6])
print(Name[7])
print(Name[8])
print(Name[9])
print(Name[10])
print(Name[11])
print(Name[12])

N
i
k
i
t
a

K
h
i
r
i
d

In [9]:
print(Name[-1])
print(Name[-4])
print(Name[-10])

d
i
i

## Length

We can obtain the length of any data type by using length command.i.e len(variable name)

In [10]:
len(Name) #13 charaters along with space

13

## Silicing

To extracting more than single element of any data type we use Silicing. It always give us from which element(suppose 0) to what we want (suppose3)then we write variable name[0:4] i.e.(n-1)th element in output.

In [11]:
Name

'Nikita Khirid'

In [12]:
Name[0:4]

'Niki'

In [13]:
Name[2:8]

'kita K'

In [14]:
Name[:]

'Nikita Khirid'

## Stride / Step Function

It means that after certain interval of another element it given in output.It is given by variable name[ from where :to what :number of interval] but it is (n-1)

In [15]:
Name

'Nikita Khirid'

In [16]:
#Get every 2nd element.The element on index 1,3,5,....   It is applicable for the whole string
Name[::2]

'Nkt hrd'

We can also incorporate the stride. In case ,we select first elements then use stride.

In [17]:
Name[0:10:3]# index is 0 to 10(10-1=9) and select stride 3(3-1=2).  It is applicable for the we want the element

'Ni i'

In [18]:
Name[1:12:2] # 2 is called step function it is always (n-1).

'iiaKii'

In [19]:
ankita=(1,2,"nikita",2.5,'shubham')

In [20]:
ankita[1:6:3]

(2, 'shubham')

## Concatenate

we can concatenate the any data type by using  + sign.

In [21]:
concatenate_string=Name + " is the best."
concatenate_string

'Nikita Khirid is the best.'

To replicate values of a string we simply multiple the string by the number of times we would like to replicate it.

In [22]:
#Print the result 3 times
3 *  Name

'Nikita KhiridNikita KhiridNikita Khirid'

In [23]:
new=Name[::3]
new
3 * ' new'

' new new new'

## Escape Sequences

Back slashes represent the beginning of escape sequences. Escape sequence represent strings that may be difficult to input.

In [24]:
#We dont write in print("     ")inside ("   " "  ")
print("Nikita khirid is the best and "Ankita" is her sister")


#Similary for (' ') inside ('   ' '  ')
print('Nikita khirid is the best and 'Ankita' is her sister')

SyntaxError: invalid syntax (861446937.py, line 2)

In [25]:
#To overcome the above situation we write like this ("   \"   \"  ")
print("Nikita khirid is the best and \"Ankita\" is her sister")

#Similary for ('  ')also
print('Nikita khirid is the best and \'Ankita\' is her sister')

Nikita khirid is the best and "Ankita" is her sister
Nikita khirid is the best and 'Ankita' is her sister

In [26]:
#New line escape sequence
print("Nikita khirid \n is the best.")

Nikita khirid
 is the best.

In [27]:
#Tab escape sequence i.e space in same line
print("Nikita khirid \t is the best.")

Nikita khirid 	 is the best.

In [28]:
#Include back slash in string
print("Nikita khirid \ is the best.")

Nikita khirid \ is the best.

## String Operations

In [29]:
# Convert all the characters in string to upper case
A="Nikita khirid is the best."
print("Before upper : " , A)
B=A.upper()                  # The method converts lower case character to upper case character.
print("After upper :" + B)

Before upper :  Nikita khirid is the best.
After upper :NIKITA KHIRID IS THE BEST.

In [30]:
# Convert all the characters in string to lower case
A="NIKITA KHIRID IS THE BEST."
print("Before lower : " + A)
B=A.lower()                  # The method converts upper case character to lower case character.
print("After lower :" + B)

Before lower : NIKITA KHIRID IS THE BEST.
After lower :nikita khirid is the best.

In [31]:
#Replace the old substring with the new target is the segment has been found in the string
A="Nikita khirid is the best."
B=A.replace("Nikita", "Ankita")
B

'Ankita khirid is the best.'

In [32]:
#Find the substring location in the string only the index of first element of substring in string will be in the output.
Name="Nikita Khirid"
Name.find('i')

1

In [33]:
Name.find('ir')# letters are double then specified the substring properly.

9

In [34]:
Name.find('Khi')

7

In [35]:
Name.find('ab') # if mention substring is not in string then it always give as -1

-1

In [36]:
# To find occrance of the elements in the string use count function
Name.count('i')

4

In [37]:
#split(seperated) the string,defoult is by space
"Nikita Khirid".split() # we dont mention the seperated by what then by defoult split by space

['Nikita', 'Khirid']

In [38]:
print(A)
A.split()

Nikita khirid is the best.

['Nikita', 'khirid', 'is', 'the', 'best.']

In [39]:
A.index('kh')

7

In [40]:
A.count("i")

5