# Lists

In [1]:
# collection of items
# written in sqaure brackets []
#contains different data types
#It is changeable
#allow duplicates

In [2]:
#create a list
list=[1,'Nikita',3.4]
list

[1, 'Nikita', 3.4]

In [3]:
len(list)

3

In [4]:
type(list)

list

## Indexing

Each element can be obtained by the name of data type followed by square braket [ ] with the index number.To extracting single element any data type we use Indexing.We can used positive index as well as negative indexing.Positive indexing starts with 0 from 1st element to last nth element of any data type.Negative indexing starts with -1 from last element of any data type to 1st element -nth element.

In [5]:
#print the element on each index
print(list[0])
print(list[1])
print(list[2])

1
Nikita
3.4

In [6]:
#type of the element on each index
print(type(list[0]))
print(type(list[1]))
print(type(list[2]))

<class 'int'>
<class 'str'>
<class 'float'>

## Nested

Any data type contain another data type as well as other complex data type,the process is called Nested.i.e int,float,string,tuple,list,dictinory etc

In [7]:
li=[1,'nikita',(1980,2.3),[2,9],("a",9)]
li

[1, 'nikita', (1980, 2.3), [2, 9], ('a', 9)]

In [8]:
#print the element on each index
print(li[3])
print(li[4])
print(li[3][0])
print(li[3][1])
print(li[4][0])
print(li[4][1])

[2, 9]
('a', 9)
2
9
a
9

## Stride/Step

It means that after certain interval of another element it given in output.It is given by variable name[ from where :to what :number of interval] but it is (n-1)

In [9]:
li[1:5:2]

['nikita', [2, 9]]

## Silicing

To extracting more than single element of any data type we use Silicing. It always give us  from which element(suppose 0) to what we want (suppose3)then we write variable name[0:4] i.e.(n-1)th element in output.

In [10]:
list2=[1,"nikita",3.4,9,'NK']
list2

[1, 'nikita', 3.4, 9, 'NK']

In [11]:
print(list2[0:3])
print(list2[:])
print(list2[2:5])

[1, 'nikita', 3.4]
[1, 'nikita', 3.4, 9, 'NK']
[3.4, 9, 'NK']

In [12]:
print(li)
print(li[0:2])

[1, 'nikita', (1980, 2.3), [2, 9], ('a', 9)]
[1, 'nikita']

## Lists Operations

we can use this method extend to add new elements to the list at the end

In [13]:
l2=[1,2,'nk',3.4]
l2
l2.extend(["ankita",22]) #If we exicuted again and again it remain same. New items is element of the list.
l2

[1, 2, 'nk', 3.4, 'ankita', 22]

Another similar method append.If we apply append insted of extend, we add one element to the list

In [14]:
l2.append(["ankita",22])# If we exciuted cell again and again it get add that much time in the list.
l2 #new item is added but it is not element of list directly it show new list inside the old list like nested list.

[1, 2, 'nk', 3.4, 'ankita', 22, ['ankita', 22]]

In [15]:
#Change the element based on the index
list2=["nikita",1,3.4]
print("Before change:",list2)
list2[0]="ankita"
print("after change:",list2)

Before change: ['nikita', 1, 3.4]
after change: ['ankita', 1, 3.4]

In [16]:
#Insert the element in specific order
l=[1,2,'nk',3.4]
print(l)
l.insert(1,"abc")#It add the element in specific order
l

[1, 2, 'nk', 3.4]

[1, 'abc', 2, 'nk', 3.4]

In [17]:
#delete the element based on the index
list2=["nikita",1,3.4]
print("Before change:",list2)
del(list2[0]) #index to which we want to remove
print("after change:",list2)

Before change: ['nikita', 1, 3.4]
after change: [1, 3.4]

We can convert a string to alist by using split.The method split translates every group of characters separated by a space into an element in a list.

In [18]:
#split(seperated) the string,defoult is by space
"Nikita Khirid".split() # we dont mention the seperated by what then by defoult split by space

['Nikita', 'Khirid']

We can use the split function to separate strings on a specific character.

In [19]:
#Split the string by comma
"A,B,C,D".split(',')

['A', 'B', 'C', 'D']

In [20]:
#Any element can write/remove randomly
print(l)
l.pop()

[1, 'abc', 2, 'nk', 3.4]

3.4

In [21]:
l.reverse()#Reverse the list
print(l)

['nk', 2, 'abc', 1]

In [22]:
l.count('abc')

1

In [23]:
l.index('abc')

2

In [24]:
l.clear()
print(l)

[]

## Copy and Clone

In [25]:
#Copy (Copy by reference)the list
A=["nikita khirid",1,3.4]
B=A #duplicate of list
print("A:",A)
print("B:",B)

A: ['nikita khirid', 1, 3.4]
B: ['nikita khirid', 1, 3.4]

Initially,the value of the first element in B is set as nikita khirid.If we change the first element in A to banana.We get an unexpexted side effect.As A and B are referencing the same list. If we change list A then list B also change.If we check the first element of B we get banana instead of nikita khirid.

In [26]:
#Examine the copy by reference
print("B[0] before the change:",B[0]) #we change the index A[0] so in B it also change the same index bcoz it is save in same memory location.
A[0]="banana"
print("B[0] after the change:",B[0])

B[0] before the change: nikita khirid
B[0] after the change: banana

In [27]:
A=["nikita khirid",1,3.4]
B=A #duplicate of list
print("A:",A)
print("B:",B)

A: ['nikita khirid', 1, 3.4]
B: ['nikita khirid', 1, 3.4]

In [28]:
print("A[0] before the change:",A[0]) #we change the index B[0] so in A is not change the same index bcoz it is save in same memory location.
B[0]="banana"
print("A[0] after the change:",A[0])

A[0] before the change: nikita khirid
A[0] after the change: banana

In [29]:
#Clone(clone by value)the list
A=["nikita khirid",1,3.4]
B=A[:]
B

['nikita khirid', 1, 3.4]

In [30]:
print("B[0] before the change:",B[0]) 
A[0]="banana"   #It not change in copy 
print("B[0] after the change:",B[0])

B[0] before the change: nikita khirid
B[0] after the change: nikita khirid

In [31]:
#Various operation that can we perform
nikita=[1,2,3,4,5]
sum(nikita) #only if all are integer or float
nikita*2 #The number we write that much time list reperate

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]