## What is for loop?

The for loop enables to you to execute a code block multiple times.
A for loop is used for iterating over a sequence(i.e list,tuple,set,dictionary,string)& perform the same action for each entry.
  It is used when number of iteration is known,that's why we have to specify the ending point in the for loop initialization.

In [1]:
# For loop example
dates=[1980,1982,1984]
N=len(dates)

for i in range(N): ##(0,1,2,)
    print(dates[i])
  
'''1st iteration:
for 0 in range(0,1,2,):
    print(dates[0]) it means it print 0th index element 1980

2nd iteration:
for 1 in range(0,1,2):
    print(dates[1]) it means it print 1st index element 1982

3rd iteration:
for 2 in range(0,1,2):
    print(dates[2]) it means it print 2nd index element 1984'''
print(" ") #Here we used it only for that comment part is not give in ouput
#Comment get printed in output if we dont write after it any operation.

1980
1982
1984

The code in the indent is executed N times,each time the value of i is increased by 1 for every execution.

In [2]:
#Example for loop
for i in range(5,8):   #we can print out a sequence of number from 0 to 7
       print(i)

        
#In the range we mention the start value and end value(n-1) but by defoult  difference it take 1

5
6
7

In [3]:
for i in range(8):
       print(i)

#It means range take value automatically/defoult 0 to specified value(n-1)

0
1
2
3
4
5
6
7

In [4]:
for i in range(5,100,5):
       print(i)

#It means range take value from starting to end value(n-1)by specified difference/step.

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [5]:
#Example of for loop,loop through list
dates=[1980,1982,1984,1986,1988,1990]
for year in dates:
        print(year)   #we use this if we dont want to use range function
        
'''1st iteration:
for 1980 in (1980,1982,1984,1986,1988,1990)
print(1980)

2nd iteration:
for 1982 in (1980,1982,1984,1986,1988,1990)
print(1982)

3rd iteration:
for 1984 in (1980,1982,1984,1986,1988,1990)
print(1984)

so on...till last element get printed.'''
print(" ")

1980
1982
1984
1986
1988
1990

In [6]:
#Example of for loop,loop through tuple
number=(1980,"nikita",2.5)
for i in range(3):  
    print(number[i])
    
'''Another way to write the for loop
for i in number:
print(i)'''
print(" ")
#If we use range then in print use variable name[i]

1980
nikita
2.5

In [7]:
#Example of for loop,loop through set
num={1,3.5,"nikita",'ankita',"ankita"}
for i in num:
    print(i)   
#If we dont use range then in print directly i

1
3.5
ankita
nikita

In [8]:
#Use for loop to change the element in list
names=["Nikita","Ankita","Shubham","Kishori","Shantaram",]
for i in range(5):
   
    if (names[i]=="Ankita"):
        print("Before the change",i,names[i])
        names[i]="Khirid"
        print("After the change",i,names[i])   
    else:
        print(names[i])
names  #we can write like this also dont need to write message in print but for understanding what is happen we will write print

Nikita
Before the change 1 Ankita
After the change 1 Khirid
Shubham
Kishori
Shantaram

['Nikita', 'Khirid', 'Shubham', 'Kishori', 'Shantaram']

In [9]:
names=["Nikita","Ankita","Shubham","Kishori","Shantaram",]
for i in range(5):
    if (i<2):
        print("Before the change",i,names[i])
        names[i]="Khirid"
        print("After the change",i,names[i])   
    else:
        print(names[i])
names

Before the change 0 Nikita
After the change 0 Khirid
Before the change 1 Ankita
After the change 1 Khirid
Shubham
Kishori
Shantaram

['Khirid', 'Khirid', 'Shubham', 'Kishori', 'Shantaram']

In [10]:
#Loop through the list and iterate on both index and element value
names=["Nikita","Ankita","Shubham","Kishori","Shantaram"]
for i ,x in enumerate(names):
    print(i,x)

0 Nikita
1 Ankita
2 Shubham
3 Kishori
4 Shantaram

In [11]:
list(enumerate(names))

[(0, 'Nikita'),
 (1, 'Ankita'),
 (2, 'Shubham'),
 (3, 'Kishori'),
 (4, 'Shantaram')]

In [12]:
names=["Nikita","Ankita","Shubham","Kishori","Shantaram"]
for i in names:
    if i!="Kishori":
        print(i)

Nikita
Ankita
Shubham
Shantaram

In [13]:
names=["Nikita","Ankita","Shubham","Kishori","Shantaram"]
for i in names:
    if i=="Kishori":
        break
    print(i)

Nikita
Ankita
Shubham

In [14]:
my_list=[1,2,3,4,5]
for i in my_list:
    if i==1:
        print(i)
    elif i==5:
        print(i)
    else:
        print("wrong number")

1
wrong number
wrong number
wrong number
5

In [15]:
prime=[2,3,5]
for i in prime:
    squared=i**2
    cube=i**3
    print(i,squared,cube)

2 4 8
3 9 27
5 25 125

In [16]:
total=0
for i in range(10):
    total=total+(i+1)
print(total)

55

In [17]:
original="Shubham"
result=""
for i in original:
    result=i+result
print(result)

mahbuhS

In [18]:
word=["red","green","pink","blue","orange"]
length=[]
for i in word:
    length.extend(word)
    break
print(length)

['red', 'green', 'pink', 'blue', 'orange']

In [19]:
list_=[20,10,5]
total=0
for i in list_:
    total=total+i
print(total)

35

In [20]:
t=0
for i in range(1,8):
    if i % 3==0:
        t=t+i
print(t)

9

In [21]:
t=0
for i in range(1,100):
    if i%3==0 or i%5==0:
        t=t+i
print(t)

2318

In [22]:
no=[1,2,3,4,5,6,7,8,9,10]
even_no=[]
odd_no=[]
for i in no:
    if  i%2==0:
        even_no.append(i)
#       print(i," is a even number")
    else:
#       print(i," is a odd number")
        odd_no.append(i)
print(even_no)
print(odd_no)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [23]:
for i in "Nikita":
    print(i)

N
i
k
i
t
a

In [24]:
for i in range(5):
    for j in range(3):
        print(f"({i},{j})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)
(4,0)
(4,1)
(4,2)

In [25]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [26]:
for i in range(1,11):
    for j in range(1,11):
        if i==5:
            continue 
        print(i*j,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [27]:
#Display numbers from a list using loop which satisfy the condition:

# 1.The numbers must be divisible by 5
# 2.If number is greater than 150,then skip it,and move to next number
# 3.If number is greater than 500,then stop the loop
numbers=[12,75,150,180,145,525,50]
for i in numbers:
    if i>500:
        break
    elif i>150:
        continue
    elif i%5==0:
        print(i)

75
150
145

In [28]:
for name in "Nikita":#print like list 
    print(name)

N
i
k
i
t
a

In [29]:
#use of break statement inside the loop
for name in "Nikita":
    if name =="t":
        break #If condition is true then go outside the loop directly
    print(name)
print("the end")
'''1st iteration:N==t false then it print(N)
2nd iteration:i==t false then it print(i)
3rd iteration:k==t false then it print(k)
4th iteration:i==t false then it print(i)
5th iteration:t==t true then it break and go outside the for loop directly'''
print(" ")
#for loop is used for iteration and if loop is used for condition checking

N
i
k
i
the end

In [30]:
#Use of continue statement inside the loop
for name in "Shubham":
    if name =="h":
        continue#If condtion true then continue(skip the true condition value)and go to next index upto all index
    print(name)
print("the end")

S
u
b
a
m
the end

In [31]:
#Write a program to print multiplication table of a given number 2
n=2#or from the user int(input("Enter the number"))
for i in range(1,11,1):
    mult=n*i
    print(n,"*",i,"=",mult)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [32]:
list_=["Nikita","Ankita","Shubham","Ashwini","Kishori"]
for i in range(len(list_)):
    print("Hello",list_[i])

Hello Nikita
Hello Ankita
Hello Shubham
Hello Ashwini
Hello Kishori

In [33]:
# plyaer_name="Carmelo"
player_name=str(input("Enter the plyaer name here: "))
goals={"Edison":14,"Bernat":4,"Carmelo":20}

for player in goals:
    if player==player_name:
        print(goals[player])
        break
else:
    print("No player with that name found.")

Enter the plyaer name here: Carmelo
20

In [34]:
num=[2,3,4,5,6,7,8,9,10]
cube=[]
for i in num:
    cube.append(i**3)
print(cube)

[8, 27, 64, 125, 216, 343, 512, 729, 1000]

# While loop
The while loop exists as a tool for repeated execution based on a condition.The code block will keep being executed until the given logical condition returns a false boolean value.It is used when number of iteration is unknown.For loop & while loop are alternarive to each other.

In [35]:
#while loop example
number=["1990","1991","1992","1993","1994"]
i=0  #here for the while indexes to increment iterate by defoult we declare the variable(i=index)
digit=0  #For conditon we initilaze the new variable assign the value(mostly 0)
while(digit!="1993"):
    digit=number[i]
    i=i+1
    print(digit)
    
print("It took",i,"to go out of the loop")

''' 1st iteration :Enters into the loop before i=0,digit=0---> after digit=1982 i=1 print(1982)
  2nd iteration :Enters into the loop before i=1,digit=1982---> after digit=1980 i=2 print(1980) 
  3rd iteration :Enters into the loop before i=2,digit=1980---> after digit=1973 i=3 print(1973)'''
print(" ")

1990
1991
1992
1993
It took 4 to go out of the loop

In [36]:
i=1
while(i<6):
    print(i)#it give value from 1 to 5 bcoz it 1st execute then add by 1
    i+=1
#     print(i)# it give value from 2 to 5 bcoz it 1st add by 1 then execute

1
2
3
4
5

In [37]:
i=10
while(i>=1):
    print("My Name is NIKITA KHIRID")
    i -=1

My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID
My Name is NIKITA KHIRID

In [38]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i +=1
print(sum)

55

In [39]:
i=1
sum=0
while i<=10:
    if i%2==0:
        sum=sum+i
    i +=1
print(sum)

30