## Reading and Writting CSV,JSON,Excel file

In [1]:
#Opening a file in write mode
#If file already exists the content will be overwritten(change from 1st index and write)Not mandatary to exists the file 

file=open("mytxt.txt","w")# open method wants 2parameter (file name &which mode we want to open)
file.write("This is a test write \n")#the carsal stop to new line bcoz we use \n
file.close()

#open method do check 1st that the file is present if yes it overwrite,if not it great a file and write what should we tell

In [2]:
file=open("mytxt.txt","w")
file.write("This is a to a check to over write..... \n")
file.close()

#This will overwrite content by removing existing content bcoz file will already present.

In [3]:
#Opening a file in read only mode

file=open("myreadfile.txt","r")#For read mode it is mendatary to exist the file in same location
str1=file.readline()#It read only single line
print(str1)#we store the operation bcoz to see the output
file.close()

This is a test write

In [4]:
file=open("myreadfile.txt","r")
line=file.readlines()#It read all lines in the file
print(line)
file.close()

['This is a test write\n', 'This should be written at the end of the file...\n', '\n', 'This should be add to the third line of my file... \n', 'This should be add to the third line of my file... \n', 'This should be add to the third line of my file... \n']

In [5]:
#Opening a file in apend mode which write at the end of the file

file=open("myreadfile.txt","a")#if we dont want to lose the content in file always use
file.write("This should be add to the third line of my file... \n")
file.close()

In [6]:
#Opening a file in read and write mode

file=open("mytxt.txt","r+")#it read and also write at the end of the content that should we pass
line=file.readlines()
print(line)
new=file.write("This should be one \n")#If we store the write mode in any variable then it also give the length of write sentence
print(new)
file.close()

['This is a to a check to over write..... \n']
20

In [7]:
type(new)

int

In [8]:
file=open("mytxt.txt","r+")#it read and also write at the end of the content that should we pass
line=file.readlines()
print(line)
file.write("This should be one \n")
for line in file.readlines():#It should be read again bcoz if we don't want to length of content in write mode we use for loop here.
    print(line)

['This is a to a check to over write..... \n', 'This should be one \n']

In [17]:
# creating data for reading csv files
data ={"Name":['Jack', 'Jill', 'Em', 'David'],
           "Profession":['Manager', 'Analyst', 'Data scientist', 'VP'],
           "Experience":[10,5,2,20],
           "Education":['MBA', 'BS', 'MS','MBA']}
data

{'Name': ['Jack', 'Jill', 'Em', 'David'],
 'Profession': ['Manager', 'Analyst', 'Data scientist', 'VP'],
 'Experience': [10, 5, 2, 20],
 'Education': ['MBA', 'BS', 'MS', 'MBA']}

In [18]:
#Importing data into csv file
import pandas as pd
#if in importing the pandas install it by (pip install pandas)then go to kernel+restart and run the code again
# first creating dataframe
df=pd.DataFrame(data)#dataframe convert the data into tabular content
df

    Name      Profession  Experience Education
0   Jack         Manager          10       MBA
1   Jill         Analyst           5        BS
2     Em  Data scientist           2        MS
3  David              VP          20       MBA

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
#Writing data from a dataframe to a csv file
df=df.to_csv("empoy.csv")#to which method we use extention is also same
df

In [13]:
#Now opening the csv file
csv_data=pd.read_csv("empoy.csv")
csv_data

   Unnamed: 0   Name      Profession  Experience Education
0           0   Jack         Manager          10       MBA
1           1   Jill         Analyst           5        BS
2           2     Em  Data scientist           2        MS
3           3  David              VP          20       MBA

In [19]:
#Writing data from a dataframe to a excel
df.to_excel("emp.xlsx", sheet_name= 'Sheet1')

In [20]:
#Reading excel file with sheet employee data 
xcl_data=pd.read_excel("emp.xlsx")
xcl_data

   Unnamed: 0   Name      Profession  Experience Education
0           0   Jack         Manager          10       MBA
1           1   Jill         Analyst           5        BS
2           2     Em  Data scientist           2        MS
3           3  David              VP          20       MBA

In [21]:
type(xcl_data)

pandas.core.frame.DataFrame

In [22]:
##Writing data from a dataframe to a excel file
df.to_json("emp.json")

In [23]:
#Now opening the csv file
j=pd.read_json("emp.json")
j

    Name      Profession  Experience Education
0   Jack         Manager          10       MBA
1   Jill         Analyst           5        BS
2     Em  Data scientist           2        MS
3  David              VP          20       MBA